<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sit mollitia sapiente corrupti maiores vero iusto delectus incidunt eveniet, dolorum, atque exercitationem facere, quisquam tempora provident dicta assumenda eligendi beatae illum reprehenderit. At nisi vero totam corrupti. Eaque, dolorum deleniti.</p>
    </div>
</div>